<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>назначить встречу</h1>
    <form action="{% url 'appointments:make_appointment' %}" method="POST" encrypte="multipart/form-data">
        {% csrf_token %}
        <label for="client_name">ваше имя</label>
        <input type="text" name="client_name"><br>
        <label for="message">сообщение</label>
        <input type="text" name="message"><br>
        <label for="date">дата</label>
        <input type="text" name="date">.<br>
        <input type="submit">

    </form>
</body>
</html>